*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Hero-Section {
    background-image:linear-gradient(rgba(29, 57, 69, 0.739), rgba(20, 45, 62, 0.929)), url("https://images.pexels.com/photos/7735699/pexels-photo-7735699.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");

    width: 100%;
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: cover;

}
/* App.css */
.slide-in {
    animation: slideIn 0.3s forwards;
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
#demo {
    background: linear-gradient(purple,pink );
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}
#demo2 {
  background: transparent;
  border: 1px solid white;
  outline: none;
  overflow: hidden;
  color: white;
}
#demo3 {
  background: linear-gradient(rgb(234, 24, 234),rgb(18, 70, 215), rgb(255, 55, 0) );
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
 
}

#demo4 {
  background: linear-gradient(rgba(0, 22, 32, 0.847), rgba(6, 98, 160, 0.929));
}
#p{
  color: rgb(4, 33, 69);
}



#dem2 {
  background: transparent;
  outline: none;
  border-top: none;
  border-right: none;
  line-height: 40px;
  border-left: none;
  border-bottom: 1px solid white;
  color: white;
}
#dem2::placeholder{
  color: white;
}
#btn{
  position:absolute;
  margin-left: 250px;
  margin-top: 35px;
  padding: 4px;
  border-radius: 10%;
  
}
#service {
  
}